@model CodeTheWay.Web.Ui.Models.ViewModels.BarrelRegistrationViewModel
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
@*
     ViewData["Title"] = "Edit";
*@
    @{
    }
    <h1>Edit</h1>
    <form asp-action="UpDate">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div id="hidden" class="form-group" display="none">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" value=@Model.Id />
        </div>
        <div class="form-group">
            <label asp-for="Radius" class="control-label"></label>
            <input asp-for="Radius" class="form-control" value=@Model.Radius />
            <span asp-validation-for="Radius" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Height" class="control-label"></label>
            <input asp-for="Height" class="form-control" value=@Model.Height />
            <span asp-validation-for="Height" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <input asp-for="Content" class="form-control" value=@Model.Content />
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CurrentLocation" class="control-label"></label>
            <input asp-for="CurrentLocation" class="form-control" value=@Model.CurrentLocation />
            <span asp-validation-for="CurrentLocation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }